EXPO_PUBLIC_API_URL=http://localhost:5000/api
EXPO_PUBLIC_SOCKET_URL=http://localhost:5000
EXPO_PUBLIC_API_URL_PRODUCTION=https://your-api-domain.com/api
EXPO_PUBLIC_SOCKET_URL_PRODUCTION=https://your-api-domain.com
